html, body{
  height: 100%;
}

body{
  background-origin: #ccc
}

li{
  display: inline-flex;
}

a{
  text-decoration: none;
}

.welcome {
  background-color: #fff;
  text-align: center;
}

.welcome p {
  text-align: justify;
  flex:1;
}

.menu {
  text-align: center;
  text-transform: uppercase;
}
a:hover {
  color: #ddd;
}

.footer{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: column; /* Safari 6.1+ */
  min-height: 100vh;
}