*{
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  height: 100%;
}

body{
  background-color: #111212;
  color: #fff;
}

li{
  display: inline-flex;
}

a{
  text-decoration: none;
  color: #aadddd;
  font-weight: bold;
}

.welcome {
  background-color: #222;
  text-align: center;
  display: flex;  
  flex-direction: column;  
  min-height: 100vh; /*helps push footer to the bottom along with flexbox settings*/
}

.welcome p {
  text-align: justify;
  flex:1;   /*helps push footer to the bottom along with flexbox settings*/
}

.menu {
  text-align: center;
  text-transform: uppercase;
}
a:hover {
  color: #fff;
}

.footer{
  text-align: center;
  color: #fff;
  background-color: #000;
}

.container{
  display: flex;
  flex-direction: column;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: column; /* Safari 6.1+ */
  min-height: 100vh;
}